@font-face {
  font-family: myFont;
  src: url(./fonts/ttf/p5hatty.ttf);
}

html, body {
/*  background: no-repeat center url("images/map.png"); */
    background-color: #de0916;
    font-family: myFont, "Liberaion Sans", sans-serif;
    margin: 0;
    height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  justify-items: center;
  width: 100%;
  /* 1500 because that is the width of the image file */
  height: 100%;
}

$image-width: 1450px;

.svg {
  height: 900px;
  width: $image-width;
  place-self: center;
  max-width: 1500px;
}

.map-image {
  width: $image-width; 
  height: auto;
}

#cursor-container {
  isolation: isolate;
}

.cursor-blue {
  mix-blend-mode: darken;
}


.label {
  //visibility: hidden;
}

.label-content-unselected {
  mix-blend-mode: normal;
}

.label-content-selected {
  mix-blend-mode: difference;
}

#aoyamaitchome-label-english {
  transform-origin: center;
  transform: rotate(-3deg);
}

#aoyamaitchome-label-kanji {
  transform-origin: center;
  transform: rotate(-3deg);
}

.label-text {
  pointer-events: none;
  font-variant-caps: small-caps;
  font-weight: bolder;
  font-size: large;
}
.label-kanji {
  font-size: xx-large;
}

/* link images */
#tsukishima {
  transform-origin: 85% 60%;
}

.city-image {
  transform-origin: 45% 50%;
}
