@font-face {
  font-family: myFont;
  src: url(./fonts/ttf/Hack-Regular.ttf);
}

html, body {
/*  background: no-repeat center url("images/map.png"); */
    background-color: #de0916;
    font-family: myFont, "Liberaion Sans", sans-serif;
    margin: 0;
    height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  justify-items: center;
  width: 100%;
  /* 1500 because that is the width of the image file */
  height: 100%;
}

$image-width: 1450px;

.svg {
  height: 900px;
  width: $image-width;
  place-self: center;
  max-width: 1500px;
}

.map-image {
  width: $image-width; 
  height: auto;
}

/* link images */
#tsukishima {

}

